body {
  font-family: Consolas, sans-serif;
  margin-left: 6em;
  padding: 0;
  font-size: 2.5em;
}



.button {
   font-family: Consolas, sans-serif;
  background-color: #777;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: .5em;
  cursor: pointer;
}

.button:hover {
  background-color: #111;
}

.button:active {
  
}




.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #ebebeb;
  color: #fff;
  overflow-y: auto;
  z-index: 100;
}



.menu {
  padding: 30px;
}

.menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;

}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

}

.menu a:hover {
      padding: 5px 12px;
      background-color: #ff6161;
      color: #fff;
      text-decoration: none;
      font-weight: bold;

}

.menu a:hover span {
    transition-duration: .6s;
}



.main {
  margin-left: 270px;
  padding: 20px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .menu-container {
    position: relative;
    width: 100%;
    height: auto;
  }


  .main {
    margin-left: 0;
  }


}